.modal {
  background-color: var(--ob8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal > section {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  animation: modalFade 0.2s ease-in-out;
}
.mb-head-closer,
.mb-foot-closer {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.mb-head-closer {
  text-align: right;
}
.mb-head-closer i {
  cursor: pointer;
  font-size: 25px;
}
.mb-foot-closer {
}

@keyframes modalFade {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
